body {
  background-color: lightgray;
  font-family: 'Georgia', Times, serif;
}

.formato_def {
  border: rgb(13, 187, 36) solid;
  margin: 1%;
  padding: 1%;
  text-align: center;
}

header {
  margin: 1%;
  padding: 1%;
  text-align: center;
}

article {
  margin: 1%;
  padding: 1%;
  text-align: center;
  border-radius: 2%;
}

#noticia {
  border: rgb(0, 0, 0) solid;
  margin: 1%;
  padding: 1%;
  background-color: beige;
}

.vert_text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.formato_lista {
  border: rgb(114, 182, 238) solid;
  text-align: left;
}
